* {
  box-sizing: border-box;
}

#root {
  background: plum;
}

.App {
  margin: 0 auto;
  padding: 1em;
  width: 800px;
  min-height: 100vh;
  background: white;
}

.connect {
  display: flex;
  flex-flow: row wrap;
}

.connect div {
  flex-basis: 100%;
}