* {
  box-sizing: border-box;
}

#root {
  padding: .5em;
  background: rgb(167, 131, 167);
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
}

.connect > div {
  margin: 1em 0;
  padding: 1em;
  background: white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.large {
  font-size: 120%;
  width: 100%;
}